
.modal {
    display: none; /* 預設隱藏 */
    position: fixed; /* 固定在視窗上 */
    z-index: 1; /* 確保它在最上層 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 內容太多時允許滾動 */
    background-color: rgba(0,0,0,0.4); /* 半透明黑色背景 (蒙版) */
  }

.modal-content {
    color: #977C00;
    background-color: #fefefe;
    margin: 10% auto; /* 距離頂部 10%，水平居中 */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* 寬度佔螢幕 80% */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
  }  
.modal-content table { 
  color: #561530;
}

/* 關閉按鈕 */
.close {
  color: #aaa;
  position: absolute;
  right: 10px;   /* 距離右側 10px */
  top: 10px;     /* 距離頂部 10px */
  /*float: right;*/
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}