/* 置頂導覽列 -----------------------------------*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  /*background-image: url('../Image/nav.png');*/
  background-color: rgba(86, 21, 48, 0.9);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

.navbar h1 {
  font-size: 20px;
  color: #EE6983;   /*淺粉桃*/
  margin: 0;
}

.nav-links {     
  display: flex;
  gap: 20px;
  transition: all 0.8s ease; /* 動畫時間與曲線 */
}

.nav-links a {
  text-decoration: none;
  color: #EE6983;   /*淺粉桃*/
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #F5DAA7;  /*鵝黃*/
}
