<div class="card partial-content">
<!--R18-->
      <div class="row">
        <div class="col-md-6" style="display: flex; justify-content: center; align-items: center;">
          <img src="Image/apple.png" style="width: 400px; height: 400px;">
        </div>
        
        <div class="col-md-6 ">
        
          <h4 style="color:#FFC1E0">R18滿版驚喜包</h4> <hr/><br />
          
          <table style="width: 100%; border-collapse: collapse; border-bottom: 2px solid ;">
            <tr>  <th >價格</th>  <td id="Full_18_price"></td>  </tr>
            <tr>  <th >工期</th>  <td >依排單+14天</td>  </tr>
            <tr>  <th >流程</th>  <td >
                討論 <i class="fa-solid fa-arrow-right"></i>
                草稿 <i class="fa-solid fa-arrow-right"></i>
                線稿 <i class="fa-solid fa-arrow-right"></i>
                上色 <i class="fa-solid fa-arrow-right"></i>
                交稿 
            </td>  </tr>
            <tr>  <th >圖檔</th>  <td >3000x3000&nbsp;&nbsp;350dpi</td>  </tr>
            <tr>  <th >成品</th>  <td > 無浮水印圖檔*1&nbsp;+&nbsp;加浮水印圖檔*1</td>  </tr>
            <tr>  <th >其他</th>  <td > 
                會詢問意見再放入委託範例 <i class="fa-solid fa-apple-whole" ></i> <br/>
                無修改一鍵出圖 <i class="fa-solid fa-lemon" ></i><br/>
                <p style="margin: 0; color: white;"><b>目前為投單挑設制</b><i class="fas fa-feather" ></i></p><br/>
            </td>  </tr>
          </table>
        
          <div class="row" style="padding-top:10px">
          
              <div class="col-md-6 col-sm-6 col-6"> 
                  <button class="DetailBtn" id="RBtn"> 
                      查看詳情 <i class="fa-solid fa-apple-whole" ></i> 
                  </button> 
                  <div style="font-size: 12px;"><i class="fa-solid fa-triangle-exclamation"></i>內有範例圖</div>
              </div>
              
              <div class="col-md-6 col-sm-6 col-6" id="full_18_close" >
                  <button class="DetailBtn" style="pointer-events:none; opacity:0.6;">
                      暫停接委 <i class="fa-solid fa-file-lines"></i>
                  </button>
              </div>

              <div class="col-md-6 col-sm-6 col-6" id="full_18_open" >
              <button class="DetailBtn" id="R18FormBtn" Onclick="window.open('https://forms.gle/8nVergaNxa3ZUTRq6', '_blank')"> 表單填寫 <i class="fa-solid fa-file-lines" ></i> </button> </div>
          </div>
        
        </div>
      </div>
    
    
</div> 