

<div class="partial-content">
  
  <p style="color:var(--main-card-bg)">點擊可放大圖片</p>
  <div class="image-card">
    
    <div class="main-img-box">
      <img src="Image/sample/Full/Full_img_01.png"  class="main-img">
    </div>
    
    <div class="side-column">
      <img src="Image/sample/Full/Full_img_02.png"  class="sub-img">
      <img src="Image/sample/Full/Full_img_03.png"  class="sub-img">
    </div>
  </div>



  <div class="ticket" style="background-color: var(--main-card-bg);">
    
    <div class="content">
      <div class="content-top">
        <h4>單人滿版</h4>
      </div>
      
      <div class="content-bottom">
        <table style="width: 100%; border-collapse: collapse; border-bottom: 2px solid ;">
              <tr>  <th >價格</th>  <td id="Full_price"></td>  </tr>
              <tr>  <th >工期</th>  <td >依排單+14~21天</td>  </tr>
              <!-- <tr>  <th >流程</th>  <td >
                  討論 <i class="fa-solid fa-arrow-right"></i>
                  草稿 <i class="fa-solid fa-arrow-right"></i>
                  修改 <i class="fa-solid fa-arrow-right"></i>
                  線稿 <i class="fa-solid fa-arrow-right"></i>
                  上色 <i class="fa-solid fa-arrow-right"></i>
                  交稿 
              </td>  </tr> -->
              
            </table>
        <div class="barcode">||||||||||||||||</div>
      </div>
    </div>
  </div>

</div>