<div class="card partial-content">

    <div class="row">
        <div class="col-md-6 slideshow" id="Other"></div>
        <div class="col-md-6 ">
        
          <h4 style="color:#FFC1E0">自由項目</h4> <hr/><br />
          <table style="width: 100%; border-collapse: collapse; border-bottom: 2px solid ;">
            <tr>  <th >價格</th>  <td ><button class="DetailBtn" id="OtherBtn"> 查看詳情<i class="fa-solid fa-apple-whole" ></i> </button></td>  </tr>
            <tr>  <th >工期</th>  <td >依排單+7~14天，看複雜度</td>  </tr>
            <tr>  <th >流程</th>  <td >
                討論 <i class="fa-solid fa-arrow-right"></i>
                草稿 <i class="fa-solid fa-arrow-right"></i>
                修改 <i class="fa-solid fa-arrow-right"></i>
                線稿 <i class="fa-solid fa-arrow-right"></i>
                上色 <i class="fa-solid fa-arrow-right"></i>
                交稿 
            </td>  </tr>
            <tr>  <th >圖檔</th>  <td >3000x3000&nbsp;&nbsp;350dpi</td>  </tr>
            <tr>  <th >成品</th>  <td > 無浮水印圖檔*1&nbsp;+&nbsp;加浮水印圖檔*1</td>  </tr>
            <tr>  <th >其他</th>  <td > 
                會拿去做委託範例 <i class="fa-solid fa-apple-whole" ></i> <br/>
                需修改時希望能一次提出 <i class="fa-solid fa-lemon" ></i><br/>
            </td>  </tr>
          </table>
        </div>
      </div>
    
</div> 